*{
    padding: 0;
    margin: 0;
}
.newPizzaDiv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 40%;
}
.saveBtn, .cancelBtn{
    margin-top: 120px;
    float: left;
    width: 150px;
    border-radius: 3px;
}
.cancelBtn{
    margin-left: 20px;
}
.imageInput{
    display: block;
    margin-top: 100px;
    margin-left: 0;
    margin-right: auto;
}
.addPizzaH2{
    margin-top: -20px;
    margin-bottom: 20px;
}