*{
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.mainAdmin{
    max-width: 70%;
    max-height: auto;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.ingredients{
    background-color: lightpink;
    color: white;
    height: 35px;
    border-color: lightpink;
    border-radius: 2px;
    cursor: pointer;
    width: 250px;
    display: block;
    margin: auto;
}
.pizzas{
    background-color: lightskyblue;
    color: white;
    height: 35px;
    border-color: lightskyblue;
    border-radius: 2px;
    cursor: pointer;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.turnover{
    background-color: lightgray;
    color: white;
    border-color: lightgray;
    cursor: pointer;
    height: 35px;
    border-radius: 2px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.nurliTabela{
    width: 70%;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ingredientH2, .pizzaH2{
    margin-top: 0;
    margin-bottom: 50px;
}
.tablePizzas{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.deletePizza{
    float: right;
    margin-right: 30%;
    top: 5px;
}
.deleteById{
    float: left;
    left: 27%;
    top: 5px;
}
.divAdminovihPica{
    height: fit-content;
}